@using CarRentingApp.Models
@{
    ViewData["Title"] = "Choose a vehicle type to rent";
}

<h2 class=" d-flex justify-content-center"> Choose a vehicle type to rent</h2>

<div class="d-flex justify-content-center">
    <button id="car" class="col-sm-2 btn-info btn-lg" style="margin-right:auto" data-vehicleType="@((byte)VehicleType.Car)"> Car </button>
    <button id="van" class="col-sm-2 btn-warning btn-lg" style="margin-right:auto" data-vehicleType="@((byte)VehicleType.Van)">  Van </button>
    <button id="suv" class="col-sm-2 btn-danger btn-lg" style="margin-right:auto" data-vehicleType="@((byte)VehicleType.SUV)"> SUV </button>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {

            $("#car").click(function () {
                location.href = "/rentals/createRental?vehicleType=" + $(this).attr("data-vehicleType")
            });

            $("#van").click(function () {
                location.href = "/rentals/createRental?vehicleType=" + $(this).attr("data-vehicleType")
            });

            $("#suv").click(function () {
                location.href = "/rentals/createRental?vehicleType=" + $(this).attr("data-vehicleType")
            });

        });
    </script>

 }
